/* errorBoundaryTest.css */

body{
  background-color: #156064;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items:center;  
  margin: 0;
  padding: 0;                    
}

.errorBoundaryTest_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .errorBoundaryTest_text {
    font-size: 24px;
    font-weight: normal;
    color: #f4989c;
    text-align: center;
    word-wrap: break-word;
    white-space: wrap;
  }

  span{
    color: #00c49a;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    white-space: wrap;
    font-style: italic;
}

